/* common styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* navigation bar styles */
.menu-container {
    background: #E55473;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 25px;
}

.menu-logo {
    text-transform: uppercase;
}

.bouquet {
    color: white;
}

.menus {
    list-style: none;
    display: flex;
    align-items: center;
}

.menus li {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
}

.menus li>a {
    text-decoration: none;
    color: black;
}

.menus li>a:hover {
    color: lightslategray;
}

/* banner styles */

.banner-container {
    height: 100vh;
    background: rgba(229, 84, 115, 0.2);
    /* background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 0 200px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
}

.img-banner {
    height: 100vh;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* main sections styles */

section {
    width: 80%;
    margin: 120px auto;
}

/* featured section styles */
.featured-text {
    text-align: center;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: auto;
}

.featured-box-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
}

.featured-img-box {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 290px;
    height: 340px;
    text-align: center;
    padding: 80px 30px 0px 30px;
}

.feature-img {
    height: 100%;
}

.featured-box-text {
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 10px;
}

/* retailer section styles */

.retailer-container {
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 85px 170px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.retail-box {
    text-align: center;
}

.retail-logo {
    width: 88px;
}

.retail-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* main banner section styles */
.main-banner-container {
    padding: 100px 250px;
    height: 40vh;
    justify-content: space-between;
    gap: 80px;
}

.main-banner-img {
    width: 300px;
    height: 400px;
}

.main-banner-title {
    font-size: 30px;
}

.main-banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* instagram section styles */
.insta-section {
    text-align: center;
}

.insta-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.insta-box1 {
    width: 330px;
    height: 370px;
    background: url("/images/Flower_01.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.insta-box2 {
    width: 330px;
    height: 360px;
    background: url("/images/Rectangle_4.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.insta-box3 {
    width: 330px;
    height: 360px;
    background: url("/images/Rectangle_5.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.insta-box4 {
    width: 330px;
    height: 360px;
    background: url("/images/Rectangle_6.png");
    background-repeat: no-repeat;
    background-size: contain;
}
